
	<div id="cabout-time-calendar">
		<h3 id="about-time-calendar-hdr" class="about-time-calendar-hdr">
			<span id="about-time-calendar-date">{{now.date}}</span>
		</h3>
		<div class="about-time-calendar-container">
			{{#if running}}
				<div class="about-time-clock-running">
			{{else}}
				<div class="about-time-clock-stopped">
			{{/if}}
				<p id="about-time-calendar-time" title="Start/Stop psuedoclock.">{{now.time}}</p>
			</div>
			{{#if isGM}}
			<div class="about-time-calendar-btn-container">
				<i id="about-time-calendar-btn-min" class="fas fa-play about-time-fa-play" title="Advance 1 minute"></i>
				<i id="about-time-calendar-btn-tenMin" class="fas fa-step-forward about-time-fa-step-forward" title="Advance 10 minutes"></i>
				<i id="about-time-calendar-btn-long" class="fas fa-fast-forward about-time-fa-fast-forward" title="Advance 1 hour" ></i>
				<i id="about-time-calendar-btn-long-rest" class="fas fa-fast-forward about-time-long-rest" title="Advance 8 hours" ></i>
				<i id="about-time-calendar-btn-day" class="fas fa-sun about-time-fa-sun" title="Advance to 7am the next day"></i>
				<i id="about-time-calendar-btn-night" class="fas fa-moon about-time-fa-moon" title="Advance to midnight"></i>
			</div>
			{{/if}}
		</div>
	</div>
